@import '../../scss/variables';
@import '../../scss/breakpoints';

.fretboardData {
  display: flex;
  width: 1100px;
  margin: 0 auto;
  gap: 2rem;
  @include smallLaptop() {
    width: 880px;
  }
  @include tablet() {
    width: 820px;
  }
  @include mobile() {
    width: 100%;
  }
  .leftData {
    width: 100%;
    margin: 0 auto;
    padding-top: 3rem;

    @include smallLaptop() {
      max-width: 880px;
    }
    @include mobile() {
      width: 100%;
      padding: 3rem 1rem;
    }
    .scale-name {
      font-size: 28px;
    }
    .scale-bio {
      max-width: 100%;
      line-height: 30px;
      font-size: 1.1rem;
      @include mobile() {
        min-width: 100%;
      }
    }
    h2 {
      font-size: 20px;
      margin-top: 1rem;
      display: flex;
      align-items: center;
      gap: 5px;
      svg {
        max-width: 14px;
        position: relative;
        top: 3px;
      }
    }
    .scaleDescription {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      line-height: 25px;
      font-size: 16px;
    }
    .supersets,
    .subsets {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .set {
        display: flex;
        margin-right: 1rem;
        width: 100%;
        flex-wrap: wrap;
        button {
          all: unset;
          margin-right: 1rem;
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
        span {
          margin-right: 1rem;
          margin-bottom: 5px;
        }
      }
    }
  }
  .right-data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
    height: 200px;
    // margin-left: auto;
    justify-content: center;
    .scale-wrapper {
      display: flex;
      align-items: center;
      gap: 2rem;
      justify-content: center;
      .note {
        background-color: dodgerblue;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
