@import '../../scss/variables';
@import '../../scss/breakpoints';

.modal {
 display: flex;
 flex-direction: column;
 max-width: 85%;
 gap: 1rem;
 padding: 10px;
 max-height: 50%;
 margin-bottom: 10px;
 position: fixed;
 z-index: 9999;
 @include mobile() {
  min-height: 80vh;
  max-height: 80vh;
 }
 .option {
  display: flex;
  gap: 1rem;
  height: 50px;
  align-items: center;
  padding: 0 6rem;
  border-radius: 6px;
  p {
   display: flex;
   justify-content: center;
   height: 100%;
   align-items: center;
  }
  #theme-switch {
   margin-left: auto;
  }
  .positions {
   display: flex;
   margin-left: auto;
   .position,
   .activePosition {
    width: 30px;
    height: 30px;
    border-radius: 50%;
   }
   
  }
 }
 .wrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  padding-bottom: 25px;
  .label {
   margin-bottom: 10px;
  }
  .options {
   display: flex;
   flex-direction: column;
   gap: 10px;
   
   .unselected,
   .selected {
    padding: 0;
    border: none;
    flex: 1;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    cursor: pointer;

    .notes {
     display: flex;
     gap: 5px;
     font-size: 12px;
    }
   }
   .selected {
    background-color: $accent;
    color: white;
   }
  }
 }
}