@import '../../scss/variables';
@import '../../scss/breakpoints';


.overlay {
  background-color: rgba(24, 24, 24, 0.8);
  backdrop-filter: blur(8px);
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  .modal {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 10px;
    position: fixed;
    z-index: 9999;
    height: 630px;
    width: 556px;
    overflow-y: auto;
    border-radius: 8px;
    &::-webkit-scrollbar {
      display: none;
    }
    @include mobile() {
      height: fit-content;
      max-height: 70vh;
    }

    .modal-header {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 30px;
      padding: 10px;
      font-size: 14px;
      position: sticky;
      top: 0;
      

      .close {
        margin-left: auto;
      }
    }

    .body {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .section {
        display: flex;
        flex-direction: column;
        padding: 15px;
        gap: 20px;
        h3 {
          font-size: 14px;
          font-weight: 500;
        }
        label {
          display: flex;
          gap: 10px;
          font-size: 14px;
          .preview-sound {
            margin-left: auto;
          }
        }
      }
    }
  }
}

