.control {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .label {
    color: lightgray;
    font-size: 12px;
  }

  .content {
     background: #262626;
    border: 1px solid #333;
    color: white;
    height: 40px;
    border-radius: 3px;
    font-size: 12px;
  }
}