@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/breakpoints';

.fretboard {
  max-width: 98%;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border-right: 0;
  border-left: 0;
  margin: 0 auto;
  @include smallLaptop() {
    min-width: 1500px;
    margin-left: 1rem;
 }
  .string {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    &:before {
      content: '';
      width: 100%;
      position: absolute;
      z-index: 1;
      top: 15px;
      height: 1px;
    }
    &:nth-of-type(1):before {
      background-color: $high-strings-color;
      height: 1.5px;
    }
    &:nth-of-type(2):before {
      background-color: $high-strings-color;
      height: 2.4px;
    }
    &:nth-of-type(3):before {
      background-color: $high-strings-color;
      height: 2.5px;
    }
    &:nth-of-type(4):before {
      background-color: $low-strings-color;
      height: 2.75px;
    }
    &:nth-of-type(5):before {
      background-color: $low-strings-color;
      height: 3px;
    }
    &:nth-of-type(6):before {
      background-color: $low-strings-color;
      height: 3.25px;
    }
    .fret {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      position: relative;
      z-index: 1;
      height: 35px;
      &:nth-child(1) {
        max-width: 75px;
        min-width: 75px;
      }

      &:last-child {
        border-right: none;
      }
      .NoteBackground {
        padding: 0 5px;
      }
      .note {
        @include note();
        background-color: #2f89fc;
      }
      .rootNote {
        @include note();
        background-color: #e29734;
      }
      .triadNote {
        @include note();
        background-color: #e74c3c;
     }
      .activeNote {
        @include note();
        background-color: #2f89fc;
      }
      .inactiveNote {
        @include note();
        color: $high-strings-color;
        
      }
    }
  }
}

.fretNumbers {
  display: flex;
  align-items: center;
  height: 50px;
  width: 98%;
  margin: 0 auto;
  @include smallLaptop() {
    min-width: 1500px;
    margin-left: 1rem;
 }
  .fretNumber {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $fret-color;
    font-weight: 600;
    font-size: 14px;
    gap: 5px;
    &:nth-of-type(1) {
      max-width: 75px;
      min-width: 75px;
      
    }
    .doubleDot {
      display: flex;
      gap: 2px;
    }
    .dot {
      width: 5px;
      height: 5px;
      background-color: $fret-color;
      border-radius: 50%;
    }
  }
}
