@import '../../scss/variables';

.controlContainerPill {
 width: 530px;
 // border: 1px solid #454545;
 padding: 10px;
 border-radius: 50px;
 height: 50px;
 margin: 0 auto;
 margin-top: 3rem;
 display: flex;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 position: relative;
 overflow: hidden;
 .option {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  cursor: pointer;
  &:first-child {
   width: 25%;
   padding-left: 28px;
  }
  &:last-child {
   background-color: #454545;
   border-radius: 50px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   transition: $transition;
   width: 25%;
   &:hover {
    box-shadow: unset;
   }
  }
 }
}
