@import '../../scss/variables';
@import '../../scss/breakpoints';

.mainControls {
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .rootNoteContainer,
  .bottomRow {
    display: flex;
    gap: 5px;
    width: 70%;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .button,
  .selected {
    flex: 1;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
  }
  .selected {
    background-color: $accent;
    border: 1px solid $accent;
    color: white;
  }
  .tuningContainer {
    .button {
      width: 195px;
    }
  }
  .scalesContainer {
    .button {
      width: 260px;
      display: flex;
      justify-content: center;
      align-items: center;

    }
  }
}

.overlay {
 background-color: #000;
 width: 100vw;
 height: 100vh;
 position: fixed;
 top: 0;
 left: 0;
 z-index: 999;
 opacity: 0.8;
}
.modal {
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 padding: 10px;
 position: fixed; 
 z-index: 9999;
 min-width: fit-content;
 border-radius: 10px;
 width: 518px;
 display: flex;
 flex-direction: column;
 gap: 10px;
 flex-wrap: wrap;
 overflow-x: hidden;
 top: 50%; 
 left: 50%; 
 transform: translate(-50%, -50%); 
 padding: 20px;
 max-height: 500px;
  .tuning,
  .scale,
  .rootNote {
    max-width: 100%;
    display: flex;
    gap: 5px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    
    &:hover {
      background-color: #333333;

      .notes {
        .note {
        }
      }
    }
    .name {
      all: unset;
      width: 140px;
      display: flex;
      align-items: center;
      margin-right: 1rem;
    }
    .notes {
      display: flex;
      gap: 10px;
      margin-left: auto;
      padding-right: 28px;
      .note {
        color: #b1b6b8;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        display: flex;
        align-items: center;
      }
    }
  }
  .scale {
    .name {
      width: 100%;
    }
  }
}



.secondaryControls {
  height: 125px;
  display: flex;
  align-items: center;
  padding: 0 5%;
  .content {
   width: 70%;
   margin: 0 auto;
  }
  .left,
  .right {
    display: flex;
    gap: 28px;
    .infoBox {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .label {
        color: #b1b6b8;
        font-weight: 500;
        font-size: 14px;
      }
      .info {
        font-size: 16px;
        font-weight: 500;
      }
    }
    .checkbox {
      display: flex;
      gap: 10px;
      align-items: center;
      .info {
        font-size: 15px;
        font-weight: 500;
        color: #b1b6b8;
      }
      svg {
        width: 15px;
        height: 15px;
        cursor: pointer;
      }
    }
  }

  .right {
    display: none;
  }
}
