@import '../../scss/variables';

.controlContainerPill {
 width: 530px;
 padding: 10px;
 border-radius: 50px;
 height: 50px;
 margin: 0 auto;
 margin-top: 3rem;
 display: flex;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 position: relative;
 .option {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  border: none;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  .optionButton {
   all: unset;
  }
  
  &:first-child {
   width: 30%;
   padding-left: 28px;
  }
  &:last-child {
   border-radius: 50px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   // transition: $transition;
   width: 25%;
   button {
    all: unset
   }
   &:hover {
    box-shadow: unset;
   }
  }
 }
 .button {
  width: 25%;
  border-radius: 50px;

 }
}

.modal,
.rootNoteModal {
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 padding: 10px;
 position: absolute;
 z-index: 9999;
 min-width: fit-content;
 border-radius: 10px;
 top: 100px;
 width: 518px;
 max-height: 400px;
 display: flex;
 flex-direction: column;
 gap: 10px;
 flex-wrap: wrap;
 overflow-x: hidden;
 .tuning,
 .scale,
 .rootNote {
  width: 100%;
  padding: 10px;
  display: flex;
  gap: 5px;
  cursor: pointer;
  &:hover {
   color: aqua;
   .notes {
    .note {
     color: aqua;
    }

   }
  }
  .name {
   width: 140px;
   display: flex;
   align-items: center;
   margin-right: 1rem;
  }
  .notes {
   display: flex;
   gap: 10px;
   margin-left: auto;
   padding-right: 28px;
   .note {
    color: #B1B6B8;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
   }
  }
  
 }
 .scale {
 }
}

.rootNoteModal {
 position: absolute;
 right: 4px;
 width: 20%;
 height: 400px;
}


.secondaryControls {
 height: 125px;
 display: flex;
 align-items: center;
 padding: 0 5%;
 justify-content: space-between;
 .left,
 .right {
  display: flex;
  gap: 28px;
  .infoBox {
   display: flex;
   flex-direction: column;
   gap: 10px;
   .label {
    color: #B1B6B8;
    font-weight: 500;
    font-size: 14px;
   }
   .info {
    font-size: 18px;
    font-weight: 500;
   }
  }
  .checkbox {
   display: flex;
   gap: 10px;
   align-items: center;
   .info {
    font-size: 15px;
    font-weight: 500;
    color: #B1B6B8;

   }
   svg {
    width: 15px;
    height: 15px;
    cursor: pointer;
   }
  }
 }


}
