@import '../../scss/variables';
@import '../../scss/breakpoints';

.header {
 max-width: 100%;
 height: 81px;
 position: relative;
@include tablet() {
 padding: 0 1rem;
}
 .navbar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 28px;
  justify-content: space-between;
  margin: 0 auto;
  width: 1100px;
  @include smallLaptop() {
    width: 880px;;
  }
  .logo {
   width: fit-content;
   padding-right: 28px;
  }
  .links {
    margin-left: auto;
  }
 }

}