@import '../../scss/variables';
@import '../../scss/breakpoints';

.header {
 max-width: 100%;
 height: 81px;
 padding: $paddingMedium;
 position: relative;
 @include smallLaptop() {
  padding: $paddingSmall;
}
@include tablet() {
 padding: 0 1rem;
}
 .navbar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 28px;
  justify-content: space-between;
  margin: 0 auto;

  .logo {
   width: fit-content;
   padding-right: 28px;
  }
 }

}