@import './variables';

@mixin note {
 width: $noteWidth;
 height: $noteHeight;
 border-radius: 50%;
 display: flex;
 align-items: center;
 justify-content: center;

 font-weight: 600;
 font-size: 12px;
 position: relative;
 z-index: 999;
 cursor: pointer;
 color: white;
}