$padding: 0 2rem;
$primaryDark: #262626;
$transition: all 200ms ease-in-out;
$low-strings-color: #808080;
$high-strings-color: #5e5e5e;
$fret-color: #454545;
$alice-blue: #262626;
$fretboard: #242424;
$noteWidth: 25px;
$noteHeight: 25px;